{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 140,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "useTabs": false,
    "quoteProps": "as-needed",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "ignore",
    "embeddedLanguageFormatting": "auto",
    "plugins": ["prettier-plugin-organize-imports"]
}
